html {
    scroll-behavior: smooth;
  }

.side-nav-item {
margin: 0px 20px;
} 

.video-intro {
    width: 100%;
}

.nav-icon {
height: 50px;
width: 50px;
}

.navbar-brand {
    height: 44px;
    width: 44px;
}

.email-icon {
    height: 44px;
    width: 44px;
    /* padding: 20px; */
}

h1 {
text-align: center;
}

.title {
font-size: 100px;
}

.work-title {
    font-size: 40px;
}

.slogan {
    font-size: 30px;
    }

.section-title {
font-size: 45px;
}
.about-me-title {
    margin-top: 70px;
}
.my-projects {
    margin-top: 100px;
}

.bio-section {
text-align: center;
}


.fam-tech {
    display: inline;
}


h2  {
text-align: center;
}

.about-me-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 30%;
    justify-content: center;
    justify-items: center;
    align-items: top;
    grid-gap: 10px 50px;
    margin: 20px auto;
    }
.about-me-col {
    display: block;
    grid-row: 1;
    grid-column: 1;
}
.me-tech-col {
    display: block;
    grid-row: 1;
    grid-column: 2;
}

.grid1 {
display: grid;
grid-template-rows: auto 140px 180px auto;
/* grid-template-columns: 400px 400px 400px; */
/* grid-template-columns: auto auto auto auto;  */
grid-template-columns: 22% 22% 22% 22%; 
justify-content: center;
justify-items: center;
/* align-items: top; */
grid-gap: 10px 3%;
margin: 10px;
margin-top: 100px;
}

.column1 {
}

.mediShare-title {
    grid-row: 1;
    grid-column: 1;
}

.conjugate-title {
grid-row: 1;
grid-column: 4;
}

.trail-to-best-title {
grid-row: 1;
grid-column: 2;
}

.roomkind-title {
grid-row: 1;
grid-column: 3;
}

.grid1-images {
width: 100%;
height: 220%;
border-radius: 50px;
border: 2px solid grey;
}

/* APP IMAGES PLACEMENT*/
.mediShare-this-img {
    grid-row: 2 / 3;
    grid-column: 4;
}

.conjugate-this-img {
grid-row: 2 / 3;
grid-column: 4;
}

.trail-to-the-best-img {
grid-row: 2 / 3;
grid-column: 2;
}

.roomKind-img {
grid-row: 2 / 3;
grid-column: 3;
}

.grid1-buttons {
color: grey;
font-size: 20px;
font-weight: bold;
height: 50px;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 25px;
padding: 7px;
border: 2px solid black;
}

/* PLAY APP BUTTONS*/
.playApp-mediShare {
grid-row: 3;
grid-column: 1;
}

    
.playApp-conjugate-this {
grid-row: 3;
grid-column: 4;
}

.playApp-trail-to-the-best {
grid-row: 3;
grid-column: 2;
}
.playApp-roomKind {
grid-row: 3;
grid-column: 3;
}

.mediShare-project-Info {
grid-row: 4;
grid-column: 1;
align-items: center;
}

.conjugateThis-project-Info {
grid-row: 4;
grid-column: 4;
align-items: top;
}

.trailToTheBest-project-Info {
grid-row: 4;
grid-column: 2;
}

.roomKind-project-Info {
grid-row: 4;
grid-column: 3;
}

.project-content {
    text-align: top;
}

a {
text-decoration: none;
color: rgba(20, 20, 20, 1);
}

.sayHelloBtn {
    box-shadow: none;
}

/* PNG */
.resume-img-png {
    /* height: 900px; */
    height: 100%;
    width: 45%;
    /* margin: 20px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.project-github-icon {
    width: 80px;
    height: 80px;
    margin-top: 0;
}

/* PDF */
/* .resume-img-pdf {
    height: 1100px;
    width: 80%;
    margin: 20px;
} */
.resume-embed {

}


.project_github_buttons {
    margin: 0 auto;
    text-align: center;
}

.accordion-style {
    background-color: aqua;
    margin-top: 20px;
    width: 100%;
    border: #888888;
}
body {
    font-family: 'Noto Serif SC', serif;
  }

.black-text {
    color: black;
}

.background-image {
    width: 100%;
    height: 100%;
}

/* TABLETS */
@media only screen and (max-width: 768px) {
    .navbar {
        display:  none;
    }
    .about-me-grid { 
    grid-template-columns: 40% 40%;
    }
    .grid1 {
        /* display: none; */
        display: grid;
        grid-template-rows: auto 140px 180px auto;
        /* grid-template-columns: 400px 400px 400px; */
        /* grid-template-columns: auto auto auto auto;  */
        grid-template-columns: 22% 22% 22% 22%; 
        justify-content: center;
        justify-items: center;
        /* align-items: top; */
        grid-gap: 10px 3%;
        margin: 10px;
        margin-top: 100px;

        }

} 

/* CELL PHONES */
@media only screen and (max-width: 600px) {
    .navbar {
        display:  none;
    }
    
    .about-me-grid { 
    grid-template-columns: 80%;
    grid-template-rows: auto auto;
    margin-left: 2px;
    margin-right: 2px;
    }
    .about-me-col {
        display: block;
        grid-row: 1;
        grid-column: 1;
    }
    .me-tech-col {
        display: block;
        grid-row: 2;
        grid-column: 1;
    }

    .grid1 {
        display: none;

        }


} 
