body {
  background-color: grey;
}

.top-nav {
  background-color: blueviolet;
  padding: 20px;
}

.top-nav-item {
  text-decoration: none;
  font-weight: bold;
  color: antiquewhite;
  margin: 10px 20px;
}

h1 {
  text-align: center;
  margin: 100px 0 0 10px;
}

.grid1 {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 4px 8px 0 violet, 0 6px 20px 0 violet;
  display: grid;
  grid-template-rows: 75px 400px;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-gap: 10px 50px;
}

.grid1-col1 {
  grid-row: 1;
  grid-column: 1;
}

.grid1-col2 {
  grid-row: 1;
  grid-column: 2;
}

.grid1-col3 {
  grid-row: 1;
  grid-column: 3;
}

.grid1-images {
  width: 400px;
  height: 400px;
  border-radius: 50px;
}

.about_me {
  grid-row: 2;
  grid-column: 1;
}

.my_work {
  grid-row: 2;
  grid-column: 2;
}

.contact {
  grid-row: 2;
  grid-column: 3;
}

.grid1-buttons {
  color: grey;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  padding: 7px;
  border: 2px solid black;
}

.txt-about_me {
  grid-row: 2;
  grid-column: 1;
}

.txt-my_work {
  grid-row: 2;
  grid-column: 2;
}
.txt-contact {
  grid-row: 2;
  grid-column: 3;
}

a {
  text-decoration: none;
}
.email {
  margin: 100px 20px 20px 20px;
  text-align: center;
}
